

.row-form {
  width: 50%;
  margin: auto;
}

#main-pic {
  width: 100%;
}

.container-form {

  margin: auto;
}

.results-pics {
  margin: auto;
}

#city {
  display: none;
}

#mountains {
  display: none;
}

#beach {
  display: none;
}

#country {
  display: none;
}
